<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="text col-lg-9">
        <h2>Theme <%= @theme.tittle%> details</h2>
        <h3 class="dancing">Almost before we knew</h3>
      </div>
      <div class="col-lg-3 text-right">
        <%= link_to 'Edit', edit_theme_path(@theme) , class: "btn btn-warning" %> | <%= link_to 'Back', themes_path, class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>
<section class="inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <p id="notice"><%= notice %></p>
        <p>
          <strong>Tittle:</strong>
          <%= @theme.tittle %>
        </p>
      </div>
    </div>
  </div>
</section>
