<div class="inner-page show_page">
  <div class="text-center">
    <h1><%= @event.title %></h1>
    <h3><%= @event.starts_at.strftime("%F") %>  | <%= @event.location %> | <%= @event.country_name %></h3>
    <% if current_user%>
      <div>
        <%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Back', events_path %>
      </div>
    <%end%> 
  </div>
  <div class="image-block text-center">
    <%= image_tag @event.file_path.url(:large)  rescue ""%>
  </div>
  <div class="container-fluid mt-40">
    <div class="row">
      <div class="col-lg-10">
        <h3><%= @event.description %></h3>
        <h4></h4>
      </div>
      <div class="col-lg-2">
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="card">
              <span class="icon"><%= image_tag asset_path("assets/flag-icon.png") %> </span>
              <p>Been there</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <span class="icon"><%= image_tag asset_path("assets/star-icon.png") %> </span>
              <p>verify</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="card">
              <span class="icon"><%= image_tag asset_path("assets/list-icon.png") %> </span>
              <p>Add to list</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-40">
      <div class="col-md-12">
        <div class="section_title_style2 mb-20 text-center">
          <h2>Plan Your Fest</h2>
        </div>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-4 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-4.png") %>
        </div>
        <h4>Offical Website</h4>
        <p>Get all the information you need from the festival organisers.</p>
        <% @event.event_links.official_website.each do |official_website|%>
          <p><%= link_to official_website.display_name , official_website.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-4 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-9.png") %>
        </div>
        <h4>Tickets & Packages</h4>
        <p>Learn and buy festival tickets and packages.</p>
        <% @event.event_links.tix_package.each do |tix_package|%>
          <p><%= link_to tix_package.display_name , tix_package.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-4 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-8.png") %>
        </div>
        <h4>Live & Dj's</h4>
        <p>Checkout the lineups and see your fav artists or playing at the fests</p>
        <% @event.event_links.lineup_djs.each do |lineup_djs|%>
          <p><%= link_to lineup_djs.display_name , lineup_djs.link , target: :_blank %></p>
        <%end%>
      </div>
    </div>
  </div>
 
  <hr />
  <div class="container">
    <div class="row mt-40">
      <div class="col-md-12">
        <div class="section_title_style2 mb-20 text-center">
          <h2>How to get there</h2>
        </div>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-5.png") %>
        </div>
        <h4>Flights</h4>
        
        <% @event.event_links.flight.each do |flight|%>
          <p><%= link_to flight.display_name , flight.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-11.png") %>
        </div>
        <h4>Trains</h4>
       
        <% @event.event_links.trian.each do |trian|%>
          <p><%= link_to trian.display_name , trian.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-6.png") %>
        </div>
        <h4>Cars/Taxis</h4>
        
        <% @event.event_links.car_taxi.each do |car_taxi|%>
          <p><%= link_to car_taxi.display_name , car_taxi.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-1.png") %>
        </div>
        <h4>Bus</h4>
       
        <% @event.event_links.bus.each do |bus|%>
          <p><%= link_to bus.display_name , bus.link , target: :_blank %></p>
        <%end%>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row mt-40">
      <div class="col-md-12">
        <div class="section_title_style2 mb-20 text-center">
          <h2>Where to Stay</h2>
        </div>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-7.png") %>
        </div>
        <h4>Offical Packages</h4>
       
        <% @event.event_links.official_package.each do |official_package|%>
          <p><%= link_to official_package.display_name , official_package.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-3.png") %>
        </div>
        <h4>Hotels</h4>
        
        <% @event.event_links.hotles.each do |hotel|%>
          <p>
          <%= link_to hotel.display_name , hotel.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-2.png") %>
        </div>
        <h4>House</h4>
        
        <% @event.event_links.hostels.each do |hostel|%>
          <p><%= link_to hostel.display_name , hostel.link , target: :_blank %></p>
        <%end%>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon">
          <%= image_tag asset_path("/assets/icon-10.png") %>
        </div>
        <h4>Package outside</h4>
        
        <% @event.event_links.package_resale.each do |package_resale|%>
          <p><%= link_to package_resale.display_name , package_resale.link , target: :_blank %></p>
        <%end%>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row mt-40">
      <div class="col-md-12">
        <div class="section_title_style2 mb-20 text-center">
        </div>
      </div>
    </div>
    <div class="row">
    <h2> Fest Photos </h2>
      <% @event.event_photos.each do |photo|%>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
               data-image="<%= photo.file_path.url(:large)%>"
               data-target="#image-gallery">
                <img class="img-thumbnail"
                     src='<%= photo.file_path.url(:large)%>'
                     alt="Another alt text">
            </a>
        </div>
      <%end%>
    </div>

    <div class="row">
    <h2>Shop links<h2>
      <% @event.event_links.shopping_cart.each do |shopping|%>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <p><%= link_to (image_tag(shopping.file_path.url(:large))  rescue shopping.display_name)   , shopping.link , target: :_blank %></p>
        </div>
      <%end%>
    </div>

   </div>
  </div>
</div>
