<!-- SLIDER  AREA -->
    <div class="main-slider-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 home-glow-text">
            <h2>World Wide Fests</h2>
            <h4 class="custom_heading">Explore Global Festivals</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="row">
              <div class="fest-form">
                  <h1 class="_tpbrp">Explore music festivals around the world for this summer and the next</h1>
                 <%= render "events/adv_search"%>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--Admission Area -->
  <div class="admision_area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section_title_style2 mb-20 text-center">
            <h2>Upcoming Fests</h2>
            <p>Do you have your next destination planned?<br/>Include one of our upcoming fests to your itinerary to make your trip more memorable!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <% Event.upcoming_fests.each do |event|%>
          <div class="each-event">
            <div class="event_thumb text-center">
              <%= image_tag event.file_path.url(:large) rescue ""%>
            </div>
            <div class="event_content text-center">
              <h5><%= link_to  event.title , event_path(event)%></h5>
            </div>
          </div>
        <%end%>
        <div class="col-md-12 text-right">
          <a href="#" class="btn-book">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="seperator">
    <span class="stripe" style="background-color:#e5059a"></span>
    <span class="stripe" style="background-color:#ef684c"></span>
  </div>
  <!--Explore Area -->
  <div class="explore_area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section_title_style2 mb-20 text-center">
            <h2>Explore Fests</h2>
            <p>Looking for something specific to suit your tastes and interests?<br/>Explore our handpicked festivals to find something truly unique.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <% Event.themed_fests.each do |event|%>
          <div class="each-event">
            <div class="event_thumb text-center">
              <%= image_tag event.file_path.url(:large) rescue ""%>
            </div>
            <div class="event_content text-center">
              <h5><%= link_to  event.title , public_view_events_path( theme_id: event.theme_id)%></h5>
              <div class="details d-flex">
                <span><%= event.djs%></span>
                <span class="ml-auto"><%= "#{time_ago_in_words(event.starts_at)} ago" %></span>
              </div>
            </div>
          </div>
        <%end%>
        <div class="col-md-12 text-right">
          <a href="#" class="btn-book">View More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="seperator">
    <span class="stripe" style="background-color:#e5059a"></span>
    <span class="stripe" style="background-color:#ef684c"></span>
  </div>
  <!--Editors Area -->
  <div class="editors_area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section_title_style2 mb-20 text-center">
            <h2>Editors Choice</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
          </div>
        </div>
      </div>
      <div class="row">
        <% Event.editor_choice.each do |event|%>
          <% next if event.file_path.blank?%>
          <div class="col-md-3 each-editor">
            <div class="card flex-row flex-wrap">
              <div class="card-header border-0 col-sm-3">
                <%= image_tag event.file_path.url(:large)  rescue ""%>
              </div>
              <div class="card-block col-sm-9">
                <p>Skin Care</p>
                <h4 class="card-title"><%= link_to  event.title , event_path(event)%></h4>
                <p>by <%=event.djs%></p>
              </div>
            </div>
          </div>
        <%end%>

    </div>
  </div>
  <div class="seperator">
    <span class="stripe" style="background-color:#e5059a"></span>
    <span class="stripe" style="background-color:#ef684c"></span>
  </div>
  <!--main Area -->
  <div class="main_area" style="background-image: url('images/02.png');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section_title_style2 mb-20 text-center">
            <h2>How it works</h2>
            <p>We are working hard to create a one-stop-shop for music festivals.

Our goal? To create a community of fests lovers and

empower them to discover and choose their next fest through greater convenience and confidence.</p>
        </div>
      </div>
      <div class="row wwf-breadcrumb">
        <div class="type-1">
          <h3>Discovery</h3>
          <p>Explore our handpicked festivals to find something truly unique.</p>
        </div>
        <div class="type-2"><h3>Decide</h3>
          <p>Shortlist and finalise a fest based on your personal liking and interests.</p></div>
        <div class="type-3"><h3>Plan</h3>
          <p>Use our seamless, integrated platform for end-to-end fest planning and booking.</p></div>
        <div class="type-4"><h3> Share</h3>
          <p>Become a FestAdvocate by sharing your experience with a community that helped shape yours. </p></div>
      </div>
    </div>
  </div>
  <div class="seperator">
    <span class="stripe" style="background-color:#e5059a"></span>
    <span class="stripe" style="background-color:#ef684c"></span>
  </div>
  <!--Fest Area -->
  <div class="admision_area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section_title_style2 mb-20 text-center">
            <h2>Fest Photos</h2>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <% EventPhoto.limit(10).each do |photo|%>
            <% next if photo.file_path.blank? %>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="<%= photo.file_path.url(:large)%>"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src='<%= photo.file_path.url(:large)%>'
                         alt="Another alt text">
                </a>
            </div>
          <%end%>
        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="image-gallery-title"></h4>
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                      </button>

                      <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                      </button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>