<!-- FOOTER TOP AREA -->
  <div class="footer-middle"> 
    <div class="container">
        <div class="row"> 
          <!-- <div class="col-md-4 col-sm-6 col-12"> 
            <a href="#" class="logo"><%= image_tag asset_path("assets/logo.jpeg") %></a> 
            <p class="mt-20 justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <ul class="social-links-footer"> 
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
              <li><a href="#"><i class="ti-linkedin"></i></a></li>
            </ul> 
          </div> -->
          <div class="col-md-12 col-sm-6 col-12"> 
            <div class="row mt-25"> 
              <div class="col-md-6 col-sm-6"> 
                <ul class="footer-nav"> 
                  <li><%= link_to "About Us" , page_path("about_us")%></li>
                  <li><%= link_to "Contact Us" , page_path("contact_us")%></li>
                  <li><%= link_to "FAQ" , page_path("faq")%></li>
                  <li><%= link_to "Term & Conditions" , page_path("term_and_conditions")%></li>
                </ul> 
              </div>
              <!-- <div class="col-md-6 col-sm-6"> 
                <h2>Fest images</h2>
                <ul class="footer-nav"> 
                  <%= image_tag asset_path("assets/1.jpg") %>
                  <%= image_tag asset_path("assets/2.jpg") %>
                  <%= image_tag asset_path("/assets/5.jpg") %>
                </ul> 
              </div> -->
            </div>
          </div>
          <!-- <div class="col-md-4 col-sm-6 col-12"> 
            <h2>Address</h2> 
            <div class="footer-address">
              <div class="footer_address_inner">
                <ul><li><i class="fa fa-map-marker"></i><p>3rd Lorem Ipsum is simply</p></li></ul>
                <ul><li><i class="fa fa-map"></i><p>Lorem Ipsum is simply dummy UAE</p></li></ul>
                <ul><li><i class="fa fa-phone"></i><p>+(91) 9999999999 , (010) 66666143</p></li></ul>
                <ul><li><i class="fa fa-envelope"></i><p>Info@wwf.com</p></li></ul>
              </div>
            </div> 
          </div> -->
        </div>
      <!-- FOOTER BOTTOM AREA -->
      <div class="footer-1-bar text-center">
        <p>© 2019 World Wide Fests. All Rights Reserved</p>
      </div>
      <!-- END FOOTER BOTTOM AREA -->
    </div>
  </div>    
  <!-- END FOOTER TOP AREA