<nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
        <a class="navbar-brand logo" href="#"> <%= image_tag asset_path("/assets/logo.jpeg"), title: "companyLogo", alt: "WWF" %></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <% if user_signed_in? %>
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item active"><%= link_to 'Home', events_path , method: :get%> </li>
                    <li class="nav-item"><%= link_to "Create Event" , new_event_path%></li> 
                    <li class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete%></li>
                </ul>
            <%else%>
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item active"><%= link_to 'Home', page_path("home") , method: :get%> </li>
                    <li class="nav-item"><%= link_to "Discover fests" , public_view_events_path%></li> 
                    <li class="nav-item"><%= link_to "About" , page_path("about_us")%> </li>          
                    <li class="nav-item"><%= link_to "Free listings" , page_path("free_listings")%></li>
                    <li class="nav-item"><%= link_to "Contact" , page_path("contact_us")%> </li>
                </ul>
            <%end%>
            
        </div>
    </div>
</nav>  