<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Events', root_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Contact Us', root_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Contact Us', root_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
</ul>
